.vscode
# folder for mikro_bak user only
Mikrotiks
**/oxidized
**/upload
**/test
**/.bak
**/.cache
**/.docker
**/.gnupg
**/.local
**/.ssh
**/.vscode
# patches and related files
*.orig
*.patch
*.rej

# checksums file as used by $ScriptInstallUpdate
checksums.json